:root {
    --clr-red: #e30914;
    --clr-gray: #222222;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--clr-gray);
}

/* Global */
.btn {
    background-color: var(--clr-red);
    border: none;
    border-radius: 4px;
    padding: 0.25rem 1rem;
    color: white;
}

/* Sections */


.content-section {
    background-color: black;
    padding: 2rem 1rem;
    color: white;
    text-align: center;
    margin-top: 0.35rem;
}

.content-section .content {
    margin-bottom: 1.25rem;
}

.content-section .title {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}

.content-section .desc {
    font-size: 1rem;
}





/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 0 1rem;
    z-index: 10;
}

/* Hero */
#hero {
    height: 100vh;
    position: relative;
    color: white;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 1) 100%);
    z-index: -1;
    opacity: 0.8;
}


#hero .hero-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -2;
}

#hero .wrapper {
    width: 90%;
}

#hero .title {
    font-size: 1.25rem;
    line-height: 1.2;
    margin-bottom: 1.25rem;
}

#hero .subtitle {
    font-size: 1rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    font-weight: normal;
}

#hero .form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;
    margin-bottom: 1rem;
}

#hero .form input {
    border: 1px solid var(--clr-gray);
    padding: 0.75rem 1.25rem;
    width: 100%;
    border-radius: 4px;
}

#hero .form .btn {
    padding: .75rem 1.25rem;
}

#hero .desc {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: normal;
}

/* FAQ */
#faq {
    color: white;
    background-color: black;
    margin-top: 0.35rem;
    padding-top: 3rem;
}

#faq .faq-list .faq-item {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: var(--clr-gray);
    align-items: center;
    height: 3rem;
}

#faq .faq-list .faq-item:not(:last-child) {
    margin-bottom: 0.5rem;
}

#faq .faq-list .faq-item span {
    font-size: 2rem;
}

#faq h2 {
    text-align: center;
    margin-bottom: 1rem;
}

/* Trial */
#trial {
    background-color: black;
    margin-bottom: 0.3rem;
}

#trial .trial-div {
    text-align: center;
    padding-top: 1.25rem;
    background-color: black;
    color: white;
    padding: 1.25rem 1rem 2.75rem 1rem;
}

#trial .trial-div .trial-desc {
    margin-bottom: 0.75rem;
}

#trial .trial-div .form .trial-input {
    width: 100%;
    margin-bottom: 0.75rem;
    padding: 0.5rem 0.45rem;
}

#trial .trial-div .form .btn {
    padding: 0.5rem 0.75rem;
}

/* Footer */
footer{
    background-color: black;
}
footer .wrapper {
    background-color: black;
    padding: 2rem 2rem 2rem 2rem;
    font-size: 0.75rem;
    color: gray;
    
}

footer .wrapper .p-title {
    margin-bottom: 1.3rem;
}

footer .wrapper .footer-cont {
    margin-bottom: 1.3rem;
}

footer .links{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* grid-template-rows: repeat(8,1fr); */
    gap: 12px;
}



@media screen and (min-width:640px) {

    /* Hero */
    #hero .form {
        flex-direction: row;
        gap: 0;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 4px;
        overflow: hidden;
    }

    #hero .form .btn {
        width: 180px;
        flex-shrink: 0;
        border-radius: 0px;
    }

    #hero .form .input {
        border-radius: 0px;
    }

    /* FAQ */
    #faq h2 {
        text-align: center;
        margin-bottom: 1rem;
        font-size: 2rem;
    }

    /* Trial */
    #trial .trial-div .form {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.25px;
    }

    #trial .trial-div .form .trial-input {
        width: 55%;
        margin-bottom: 0px;
    }

    #trial .trial-div .form .btn {
        padding: 0.5rem 0.75rem;
    }

    /* Footer */

    
    footer .links{
        grid-template-columns: repeat(3,1fr);
    }



}

@media screen and (min-width:768px) {


    /* Sections */

    .content-section {

        padding: 4rem 2rem;
        text-align: left;
        margin-top: 0.35rem;


    }

    .content-section .wrapper {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        align-items: center;
    }

    .content-section .content {
        margin-bottom: 0;
    }

    .content-section:nth-of-type(odd) .content {
        order: 2;
    }

    /* Hero */
    #hero .wrapper {
        max-width: 760px;
    }



    #hero .title {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    #hero .subtitle {
        font-size: 1.5rem;
    }

    #hero .form,
    #hero .desc,
    #hero .subtitle {
        margin-bottom: 1.5rem;
    }

    #hero .form {
        max-width: 100%;
    }

    /* FAQ */
    #faq .wrapper {
        max-width: 650px;
        margin-left: auto;
        margin-right: auto;
    }

    /* Trial */
    #trial .trial-div {
        max-width: 650px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
    }

    #trial .trial-div .form {
        justify-content: flex-start;
        /* border:1px var(--clr-gray) solid; */
        border-radius: 4px;
        overflow: hidden;
    }

    #trial .trial-div .form {
        margin-bottom: 2rem;
    }

    #trial .trial-div .form .trial-input {
        width: 60%;
        margin-bottom: 0px;
        border: none;
    }

    #trial .trial-div .form .btn {
        width: 40%;
        padding: 0.5rem 0.75rem;
        border-radius: 0;
    }

    /* Footer */
    footer .wrapper {
        max-width: 650px;
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (min-width:1440px) {
    /* Hero */

    #hero .title {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    #hero .subtitle {
        font-size: 2rem;
    }

    #hero .form,
    #hero .desc,
    #hero .subtitle {
        margin-bottom: 2rem;
    }

    /* FAQ */

    #faq h2 {
        text-align: center;
        margin-bottom: 1rem;
        font-size: 2rem;
    }
    footer .links{
        grid-template-columns: repeat(4,1fr);
    }




}