*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 238, 238);
    height: 100vh;
    font-family: Helvetica, sans-serif;
}

header h1{
    text-transform: uppercase;
}

footer{
    color: rgb(255, 255, 255);
    background-color: rgb(102, 102, 102);
    position: sticky;
}
