:root {
    --page-bg: #efefef;
    --gray-dark: #909090;
    --gray-black: #222222;
}

/* Global styles */
body {
    font-family: 'Raleway', sans-serif;
    color: var(--gray-black);
}

.page-section {
    max-width: 1880px;
    margin: 1.5rem auto;
    background-color: var(--page-bg);
    height: calc(100vh - 24px);
    padding: 3rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.page-section .title {
    font-size: 3rem;
    font-weight: normal;
    margin-bottom: 2.5rem;
}

.page-section .divider.vertical {
    height: 5rem;
    width: 1px;
    background-color: var(--gray-black);
}

.page-section .desc {
    font-style: italic;
    margin-bottom: 2rem;
}

.page-section .section-info {
    flex: 0 0 50%;
}

.page-section .section-img {
    flex: 0 1 35%;
}

/* Hero */

#hero.page-section {
    position: relative;
}

#hero .navigation {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#hero .hero-img {
    position: absolute;
    width: 50%;
    bottom: 0px;
    right: 5rem;
}

/* Camera */

#camera .socials {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#camera .socials .social {
    width: 3rem;
    height: 3rem;
    background-color: var(--gray-dark);
    color: white;
    position: relative;
}

#camera .socials .social i {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#camera h1 {
    display: flex;
    align-items: center;
    gap: 20px;
}

#camera .divider.horizontal {
    width: 5rem;
    background-color: var(--gray-black);
    height: 2px;
}

/* Photo Section */

#photo {
    padding: 0px;
    object-fit: cover;
    display: block;
}

#photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Gallery */

#gallery.gallery {
    max-width: 1880px;
    margin: 1.5rem auto;
    background-color: var(--page-bg);
    height: calc(100vh - 24px);
    padding: 3rem 5rem;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#gallery .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}


#gallery .list .picture:hover {
    transform: scale(1.5);
}

/* Stairs */


#stairs.stairs {
    max-width: 1880px;
    margin: 1.5rem auto;
    background-color: var(--page-bg);
    height: calc(100vh - 24px);
    padding: 3rem 5rem;
    display: flex;
    gap: 75px;
    align-items: center;
}
.stairs .title {
    font-size: 3rem;
    font-weight: normal;
    margin-bottom: 2.5rem;
}

.stairs .divider.vertical {
    height: 5rem;
    width: 1px;
    background-color: var(--gray-black);
}

.stairs .desc {
    font-style: italic;
    margin-bottom: 2rem;
}

.stairs .section-info {
    flex: 0 0 35%;
}

.stairs .section-img{
    flex: 0 1 35%;
}

/* Contacts */
#contacts .form{
    max-width: 900px;
    width: 700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.25rem;
    grid-template-areas: 
    "email subject"
    "message message"
    "button button"
    ;
    margin-bottom: auto;
}

#contacts .form input{
    background-color: transparent;
    border: 1px solid var(--gray-black);
    padding: 0.25rem;
    width: 100%;
}

#contacts .form textarea{
    resize: none;
    background-color: transparent;
    border: 1px solid var(--gray-black);
    padding: 0.25rem;
    width: 100%;
    grid-area: message;
}

#contacts .form .btn{
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    border: 1px solid var(--gray-black);
    background-color: var(--gray-black);
    color: white;
    grid-area: button;
}

#contacts .form input.email{
    grid-area: email;
}

#contacts .form input.subject{
    grid-area: subject;
}

#contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#contacts .section-info{
    flex: 0 0 10%;
    width: 50%;
}

#contacts.page-section {
    padding: 3rem 5rem 1rem 5rem;
}