table {
    border: 1px solid lightgray;
    text-align: left;
    border-collapse: collapse;
    
}


td {
    border: 1px solid lightgray;
    
}

thead {
    background-color: lightgray;
}

tr.odd {
    background-color: rgba(223, 220, 220, 0.767);
}

td,
th {
    width: 400px;
    padding-left: 5px;
}

blockquote {
    border-left: 6px solid rgb(221, 221, 221);
    font-style: italic;
    line-height: 30px;
    font-weight: 600;
}

blockquote p {
    font-size: 16px;
    margin-left: 25px;
}

#author {
    text-align: right;
}

html{
    font-family: Helvetica,serif;
    font-size: 16px;
    line-height: 1.5;
}

.heading{
    font-family: Georgia,serif;
}