*{
    box-sizing: border-box;
}

body{
    background-color: rgb(238, 238, 238);
    width: 95vh;
}

.main-container{
    flex-direction: row;
    display: flex;
    gap: 18px;
    align-items: flex-start;
}

.subcontainer{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 18px;
    

}

.subcontainer img{
    width: 100%;
    object-fit: contain;
}

.cards-layout{
    border: 2px solid lightgray;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
