*{
    box-sizing: border-box;
}

body{
    font-family: Helvetica, sans-serif;
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
}

article{
    display: inline-block;
    width: 80%;
}

img{
    width: 75%;
}

aside{
    display: inline-block;
    width: 20%;
    vertical-align: top;
}
