@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: "Karla", sans-serif;
}

body {
    position: relative;
    background-image: url(images/poster.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 1) 100%);
    z-index: -1;
    opacity: 0.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Cormorant Infant";
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}


/* Header */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 100px 0px 100px;
    margin-bottom: 290px;
}

.site-header nav ul {
    display: flex;
}

.site-header nav ul li {
    list-style: none outside;
    font-size: 22px;
    margin-right: 62px;
}

.site-header nav ul li:last-child {
    margin-right: 0;
}

.site-header nav a {
    text-decoration: none;
    color: white;
}

.site-title a {
    display: block;
    width: 110px;
    height: 63px;
    overflow: hidden;
    text-indent: -200vw;
    background-image: url('images/logo.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* BANNER */
.site-section.banner {
    color: white;
    display: flex;
    margin-bottom: 176px;
}

.container.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-section.banner h1 {
    font-size: 112px;
    font-weight: bold;
    margin-bottom: 164px;
    line-height: 1;
}

.site-section.banner p {
    max-width: 790px;
    font-size: 22px;
    text-align: center;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header nav ul {
    display: flex;
}

.site-header nav li {
    list-style: none outside;
    padding: 0 10px;
}

.site-header nav a {
    text-decoration: none;
    color: white;
}

.site-title a {
    display: block;
    width: 110px;
    height: 63px;
    overflow: hidden;
    text-indent: -200vw;
    background-image: url('images/logo.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* Testimonial section */

.testimonial-container {
    background-color: #F8F0E9;
}

.container-testimonial {
    padding: 54px 0px 130px 0px;
}

.container-testimonial p {
    font-size: 22px;
    margin-bottom: 88px;
    color: #352B2A
}

.container-testimonial h2 {
    font-size: 74px;
    line-height: 0.8;
    font-style: italic;
    color: #352B2A;
}

/* Support section */
.support-container {
    background-color: #E14747;
}

.container-support.container {
    text-align: center;
    color: white;
    padding: 88px 0px;
}

.container-support.container h4 {
    font-size: 28px;
    margin-bottom: 54px;
}

.container-support.container p {
    font-size: 22px;
}

/* Undestand Section */

.understand-container {
    background-color: #F8F0E9;
    padding: 80px 0px;
}

.container-understand.container {
    max-width: 626px;
}

.understand-container .image-container {
    width: 100%;
    overflow: hidden;
}

.understand-container .image-container img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 100px;
}

.understand-container h2 {
    margin-bottom: 120px;
    font-size: 78px;
    text-align: center;
    color: #352B2A;
}

.understand-container p {
    margin-bottom: 88px;
    font-size: 22px;
    color: #352B2A;
}

.understand-container .btn {
    border: 1px solid black;
    background-color: white;
    border-radius: 4px;
    font-size: 22px;
}

.button-container .btn.primary {
    padding: 12px 24px;
    margin-bottom: 80px;
}

.button-container .btn.secondary {
    padding: 12px 24px;
}

.button-container:last-child {
    color: red;
}

.button-container.centered {
    text-align: center;
}

/* Local */

.local-container {
    background-color: #E14747;
}

.container-local {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 140px 0px 80px 0px;
    color: white;
}

.container-local h2 {
    margin-bottom: 130px;
    font-size: 78px;
}

.container-local p {
    margin-bottom: 130px;
    font-size: 22px;
    text-align: center;
}

.container-local .btn {
    all: unset;
    color: black;
    background-color: #FAD87A;
    padding: 22px 30px;
    font-size: 22px;
    border-radius: 35px;
}

/* Footer */

.footer-container {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #352B2A;
}

.container-footer.container {
    margin: 0px;
    margin-left: 160px;
}


.footer-img-container {
    width: 74px;
    height: 54px;
    overflow: hidden;
    margin-bottom: 50px;
}

.logo {
    width: 100%;
    height: auto;
    display: block;
}

.container-footer.container h2 {
    color: white;
    font-size: 22px;
    margin-bottom: 28px;
    font-weight: normal;
}

.container-footer.container p {
    font-size: 18px;
    color: #766968;
    margin-bottom: 8px;
}