/* 
colors:
background - #070e27;
primary blue - rgb(0, 89, 247)
bg-light - rgb(22, 32, 68)
gray-color - rgb(126, 139, 182)
*/


body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #070e27;
  color: #fff;
}

.header {
  padding: 16px 64px;
  display: flex;
  align-items: center;
  gap: 12px;
  border-bottom: 1px solid  rgb(126, 139, 182);
  position: sticky;
  top: 0px;
}

.header .navigation{
  margin-left: auto;
  margin-right: 24px;
}

.header .nav-list {
  display: flex;
  gap: 12px;
}

.header .nav-list a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.header .login-btn{
  border: none;
  border-radius: 4px;
  background-color: rgb(22, 32, 68);
  color: #fff;
  padding: 8px 20px;
  cursor: pointer;
}