/* 
colors:
background - #070e27;
primary blue - rgb(0, 89, 247)
bg-light - rgb(22, 32, 68)
gray-color - rgb(126, 139, 182)
*/


body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #070e27;
  color: #fff;
}

p {
  color: rgb(126, 139, 182);
}

/* Navigation Section */

.header {
  padding: 16px 64px;
  display: flex;
  align-items: center;
  gap: 12px;
  border-bottom: 1px solid rgb(126, 139, 182);
  position: sticky;
  top: 0px;
  background-color: #070e27;
}

.header .navigation {
  margin-left: auto;
  margin-right: 24px;
}

.header .nav-list {
  display: flex;
  gap: 12px;
}

.header .nav-list a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

/* Button section */

.btn {
  border: none;
  border-radius: 4px;
  background-color: rgb(22, 32, 68);
  color: #fff;
  padding: 8px 20px;
  cursor: pointer;
}

.btn.btn-primary {
  background-color: rgb(0, 89, 247);
}

/* Hero section */

#hero {
  padding: 70px 64px;
}

#hero .welcome {
  max-width: 900px;
  margin: 0 auto 48px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hero .welcome h1:nth-of-type(1) {
  width: 45%;
}

#hero .welcome div:nth-of-type(1) {
  width: 45%;
}

#hero .welcome .title {
  font-size: 48px;
  line-height: 1.2;
}

#hero .welcome .info {
  margin-bottom: 12px;
}

#hero .hero-img {
  margin: 0 auto 38px auto;
}

#hero .partners {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

/* How Section */

#how {
  padding: 70px 64px;
}

#how .section-subtitle {
  text-align: center;
  font-size: 14px;
  margin-bottom: 8px;
}

#how .section-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 48px;
}

#how .row {
  display: flex;
  align-items: center;
  gap: 32px;
  max-width: 900px;
  margin: 0 auto 48px auto;
}

#how .row:nth-child(even){
  flex-direction: row-reverse;
}

#how .row:last-child{
  margin-bottom: 0;
}


#how .row .row-img {
  width: 65%;
}

#how .row .title {
  font-size: 24px;
  margin-bottom: 12px;
}

#how .row .title p {
  font-size: 14px;
}