body {
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    border-radius: 6px;
    overflow: hidden;
    width: 300px;
    position: relative;
    color: white;
    aspect-ratio: 1/1.5;
}

.card .img-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 300ms linear;
}

.card:hover .img-bg{
    transform: scale(1.3);
}

.card .content {
    position: absolute;
    left: 0px;
    bottom: -150px;
    width: 100%;
    padding: 12px;
    background: rgb(2, 0, 36);
    background: linear-gradient(
        180deg,
        rgba(2, 0, 36, 0) 0%,
        rgba(2, 0, 36, 0.7222222222222222) 30%,
        rgba(2, 0, 36, 1) 60%
    );
    transition: bottom 300ms linear;
}

.card .content .meta{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
    text-align: center;
    margin-bottom: 12px;
}

.card .content .title{
    font-size: 22px;
    text-align: center;
}

.card .content .desc{
    height: 144px;
    overflow: hidden;
    margin-top: 10px;
}

.card:hover .content{
    bottom: 0px;
}

