body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}

.areas-grid{
    display: grid;
    padding: 12px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
    grid-template-rows: repeat(6,100px);
    grid-template-areas: 
    "s1 m1 l"
    "s1 m1 l"
    "s2 m1 l"
    "s2 m2 l"
    "s3 m2 l"
    "s3 m2 l"
    ;
}

.areas-grid .item{
    overflow: hidden;
}

.areas-grid .grid-article{
    position: relative;
    height: 100%;
}

.areas-grid .grid-article img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.areas-grid .grid-article h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 14px;
}

.areas-grid .item1{
    grid-area: s1;
}

.areas-grid .item2{
    grid-area: s2;
}

.areas-grid .item3{
    grid-area: s3;
}

.areas-grid .item4{
    grid-area: m1;
}

.areas-grid .item5{
    grid-area: m2;
}

.areas-grid .item6{
    grid-area: l;
}