*{
    box-sizing: border-box;
}

body{
    background-color: rgb(238, 238, 238) ;
    font-family: Georgia, serif;
}

section{
    width: 400px;
    margin: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.thumbnail{
    background-color: aqua;
    overflow: hidden;
}

img{
    width: 100%;
    object-fit: cover;
}

.content{
    padding: 24px 36px;
    position: relative;
}

div.content{
    background-color: rgb(255, 255, 255) 
}

p{
    margin-top: 8px;
    margin-bottom: 16px;
}

.divButton{
    text-align: right;
}

button{
    padding: 2px 18px;
    background-color: rgb(0, 153, 0) ;
    color:white;
    border: 0px solid black;
}


