body{
    font-family: Arial, serif;
    line-height: 3;
    font-size: 18px;
}

a{
    text-decoration: none;
    border-radius: 5.40px;
    padding-top: 12.6px;
    padding-bottom: 12.6px;
    padding-left: 27px;
    padding-right: 27px;
    color: #eee;
}

a:hover{
    color: #eee;
}

i{
    padding-right: 5.40px;
}

.green{
    background-color: green;
}

.orange{
    background-color: orange;
}