@model TextViewModel

@{
    ViewData["Title"] = "Text Splitter";
}
<form asp-controller="Home" asp-action="Split" method="post">
    <div>
        <input asp-for="@Model.Text" class="mr-2" />
        <button type="submit" class="btn btn-primary">Split Text</button>
    </div>

    <div class="col-2 mt-3">
        <textarea>@Model.SplitText</textarea>
    </div>


</form>
