@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");


body{
    background-color:lightgray;
    font-family: Arial, Helvetica, sans-serif;
}



.button{
    background-color: transparent;
    padding: 6px 16px;
    border: 1px solid rgb(51, 51, 51);
    text-decoration: none;
    font-size: 16px;
    border-radius: 24px;
    margin-right: 12px;
    color:rgb(51, 51, 51);
    font-weight: 400;
    cursor: pointer;
    outline: none;
}

.button.fill{
    background-color: rgb(51, 51, 51);
    color: #fff;
}

.button.fill.hover:hover{
    background-color: rgb(0, 102, 0);
}

.button.hover:hover{
border-color: rgb(0, 102, 0);
}