body{
    background-color: #e4e978;
}
section article p{
    font-style: italic;
}
section{
    color: #5c6e91;
}
article{
    padding: 15px;
    width: 700px;
    background-color: #f2f4c0;
    border: 1px solid #b2ad7d;
    margin: 15px;
}
