*{
    box-sizing: border-box;
}

body{
    background-color: #EEE;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

header,main,aside,footer{
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.4rem;
    color: #000;
}
header,footer{
flex-basis: 100%;
}

main{
    height: 250px;
    width: 70%;
}
aside{
    height: 250px;
    width: 29%
}




/* •	Create header, main, aside and footer elements
•	<body>
o	background color - #EEE;
o	padding - 5rem;
o	display - flex;
o	flex-wrap - wrap;
•	Each element (<header>, <main>, <aside>, <footer>) must have:
o	padding - 2rem;
o	background color - #FFF;
o	border-radius - 0.4rem;
o	color - #000;
•	<header> and <footer>
o	flex-basics - 100%;
•	<main>
o	flex - 8 1 40rem;
•	<aside>
o	flex - 2 1 20rem; */
